# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: 1st Compilation
        uses: dante-ev/latex-action@2021-A
        with:
          root_file: primer.tex
          args: -xelatex -latexoption=-file-line-error -latexoption=-interaction=nonstopmode
      - name: Bibtex
        uses: dante-ev/latex-action@2021-A
        with:
          root_file: primer.tex
          compiler: bibtex
          args: -xelatex -latexoption=-file-line-error -latexoption=-interaction=nonstopmode

      - name: 2nd Compilation
        uses: dante-ev/latex-action@2021-A
        with:
          root_file: primer.tex
         

      - name: Upload PDF artifact
        id: pdf_artifact
        uses: actions/upload-artifact@v4
        with:
            name: primerartifact
            path: primer.pdf
            if-no-files-found: error
            retention-days: 0
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }} 
          release_name: Release ${{ github.run_number}}
          
      - name: Upload PDF to release
        id: upload_release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          asset_path: primer.pdf
          asset_name: Primer.pdf
          asset_content_type: application/pdf
